@-webkit-keyframes brignell-bounce {
  25% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes brignell-bounce {
  25% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 4;
  overflow: hidden;
  background-color: #f2edeb;
}

.main-logo {
  position: relative;
  width: 60%;
  max-width: 1000px;
}
@media (max-width: 750px) {
  .main-logo {
    width: 90%;
  }
}

.homepage-header-background-image {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.down-arrow-svg {
  position: absolute;
  top: 80%;
  -webkit-animation: brignell-bounce 2s ease-in-out infinite normal forwards;
          animation: brignell-bounce 2s ease-in-out infinite normal forwards;
}
@media (max-width: 750px) {
  .down-arrow-svg {
    top: 65%;
  }
}

.section-one {
  padding: 20rem;
  background-color: #f2edeb;
  font-weight: 500;
}
@media (max-width: 1750px) {
  .section-one {
    padding: 20rem 15rem;
  }
}
@media (max-width: 1300px) {
  .section-one {
    padding: 15rem 10rem;
  }
}
@media (max-width: 750px) {
  .section-one {
    padding: 10rem 2.5rem;
  }
}
@media (max-width: 400px) {
  .section-one {
    padding: 10rem 1rem;
  }
}

.section-one-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1300px) {
  .section-one-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-one-image-wrapper,
.section-one-text-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.section-one-text {
  font-size: 10rem;
  margin: 0;
}
@media (max-width: 1600px) {
  .section-one-text {
    font-size: 7.5rem;
  }
}
@media (max-width: 800px) {
  .section-one-text {
    font-size: 5rem;
  }
}

.section-one-image {
  width: 100%;
}

.intro-wrapper {
  margin-bottom: 20rem;
}
@media (max-width: 1300px) {
  .intro-wrapper {
    margin-bottom: 10rem;
  }
}
@media (max-width: 750px) {
  .intro-wrapper {
    margin-bottom: calc(10rem / 2);
  }
}

.intro-text-wrapper {
  width: 40%;
  margin-right: 10rem;
}
@media (max-width: 1300px) {
  .intro-text-wrapper {
    width: 100%;
    text-align: center;
    margin: 0 auto 15rem;
  }
}
@media (max-width: 750px) {
  .intro-text-wrapper {
    margin: 0 auto 10rem;
  }
}

.intro-text {
  color: #2b3b36;
  margin: 0 auto;
}

.intro-image-wrapper {
  width: 50%;
}
@media (max-width: 1300px) {
  .intro-image-wrapper {
    width: 100%;
  }
}

.bio-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #875548;
  background-image: url(/images/gouache-wash-1500.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  padding: 5rem;
}
@media (max-width: 1300px) {
  .bio-text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 5rem 5rem 15rem;
  }
}
@media (max-width: 750px) {
  .bio-text-wrapper {
    padding: calc(10rem / 2) 2.5rem;
    margin-bottom: calc(10rem / 2);
  }
}
@media (max-width: 500px) {
  .bio-text-wrapper {
    padding: calc(10rem / 2) 0;
  }
}

.bio-text {
  color: #875548;
}

.bio-image-wrapper {
  width: 30%;
  -webkit-animation: brignell-bounce 10s ease-in-out infinite normal forwards;
          animation: brignell-bounce 10s ease-in-out infinite normal forwards;
}
@media (max-width: 1300px) {
  .bio-image-wrapper {
    width: 100%;
    max-width: 500px;
  }
}

.homepage-gallery-section {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f2edeb;
}

.homepage-gallery-image-wrapper {
  overflow: hidden;
}

.gallery-two-image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.half-width-gallery-image-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0;
  padding: 0;
  width: 375px;
}

.full-width-gallery-image-wrapper {
  width: 100%;
}

.homepage-gallery-image {
  width: 100%;
  opacity: 0;
}
/*# sourceMappingURL=homepage.css.map */