@-webkit-keyframes brignell-bounce {
  25% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes brignell-bounce {
  25% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.section-one {
  padding: 20rem;
  background-color: #F2EDEB;
}

.section-one-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-one-image-wrapper,
.section-one-text-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.section-one-text {
  font-size: 10rem;
  margin: 0;
}

.section-one-image {
  width: 100%;
}

.intro-wrapper {
  margin-bottom: 20rem;
}

.intro-text-wrapper {
  width: 40%;
  margin-right: 10rem;
}

.intro-text {
  color: #2B3B36;
}

.intro-image-wrapper {
  width: 50%;
}

.bio-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #875548;
  background-image: url(/images/gouache-wash-1500.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  padding: 5rem;
}

.bio-text {
  color: #875548;
}

.bio-image-wrapper {
  width: 30%;
}

.homepage-gallery-section {
  width: 100%;
  margin: 0;
  padding: 0;
}

.gallery-two-image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.half-width-gallery-image-wrapper {
  margin: 0;
  padding: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 50%;
}

.full-width-gallery-image-wrapper {
  width: 100%;
}

.homepage-gallery-image {
  width: 100%;
}