@-webkit-keyframes brignell-bounce {
  25% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes brignell-bounce {
  25% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.section-one {
  padding: 20rem;
  background-color: #F2EDEB;
}

.section-one-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-one-image-wrapper,
.section-one-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 50%;
}

.section-one-text {
  font-size: 10rem;
  color: #2B3B36;
  margin: 0;
}

.section-one-image {
  width: 100%;
}

.intro-wrapper {
  margin-bottom: 20rem;
}

.bio-text {
  color: #875548;
  background-image: url(/images/gouache-wash-1500.png);
  background-size: contain;
  background-position: center 20px left 500px;
}