@-webkit-keyframes brignell-bounce {
  25% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes brignell-bounce {
  25% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.legals-header {
  background-color: #f2edeb;
}

.legals-page-heading {
  font-size: 10rem;
  color: #2b3b36;
  font-weight: 500;
  width: 100%;
  text-align: center;
  margin: 20rem auto;
  width: 60%;
}
@media (max-width: 1350px) {
  .legals-page-heading {
    margin: 15rem auto;
  }
}
@media (max-width: 1000px) {
  .legals-page-heading {
    font-size: 7.5rem;
    width: 70%;
  }
}
@media (max-width: 750px) {
  .legals-page-heading {
    margin: 10rem auto;
    font-size: 5rem;
    width: 100%;
    padding: 0 2.5rem;
  }
}

.legals-text-section {
  background-color: #f2edeb;
  color: #2b3b36;
  font-size: 5rem;
  padding: 0 32rem 20rem;
}
.legals-text-section p {
  margin: 0 auto 5rem;
}
.legals-text-section p:last-of-type {
  margin-bottom: 0;
}
@media (max-width: 1600px) {
  .legals-text-section {
    padding: 0 28rem 20rem;
  }
}
@media (max-width: 1350px) {
  .legals-text-section {
    padding: 0 20rem 15rem;
  }
}
@media (max-width: 1000px) {
  .legals-text-section {
    padding: 0 10rem 15rem;
    font-size: 3.8rem;
  }
}
@media (max-width: 750px) {
  .legals-text-section {
    padding: 0 2.5rem 10rem;
    font-size: 2.5rem;
  }
}