//*==============================================================================
//** Colour, font stacks, media queries, that kind of thing  **
//*==============================================================================

//*=========================================
//** Layout **
//*=========================================

//* Flex Mixin
@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

//* Layout Variables
$grid-gap: 0 1rem;

//*=========================================
//** Typography **
//*=========================================

//* Font Stacks
@mixin main-font-stack {
  font-family: 'canada-type-gibson', sans-serif;
  font-style: normal;
}

//********** Sizing & spacing **********

//* Header
$header-spacing: 5rem;
$header-spacing-large: 10rem;

//* Headings

// FontSizing
$heading-size-large: 10rem;
$heading-size-medium: 7.5rem;

//Spacing
$heading-spacing-large: 20rem;
$heading-spacing-medium: 15rem;
$heading-spacing-small: 10rem;

//* Sections
$section-spacing-extra-large: 46rem;
$section-spacing-large: 32rem;
$section-spacing-medium: 28rem;
$section-spacing-small: 20rem;
$section-spacing-smaller: 15rem;
$section-spacing-extra-small: 10rem;
$section-spacing-tiny: 2.5rem;

//* Paragraphs

//Font sizing
$font-size-large: 10rem;
$font-size-medium-large: 7.5rem;
$font-size-medium-medium: 6rem;
$font-size-medium: 5rem;
$font-size-small: 3.8rem;
$font-size-tiny: 2.5rem;
$font-size-really-tiny: 1.6rem;

//Spacing
$paragraph-spacing-large: 5rem;
$paragraph-spacing-medium: 2.5rem;
$paragraph-spacing-small: 2rem;
$paragraph-spacing-extra-small: 1rem;
$paragraph-spacing-tiny: 0.5rem;

//* Forms

//Spacing
$input-spacing-extra-large: 20rem;
$input-spacing-larger: 15rem;
$input-spacing-large: 10rem;
$input-spacing-medium: 7.5rem;
$input-spacing-small: 5rem;

//*=========================================
//** Colours  **
//*=========================================

//Main brand Colours
$background-colour-light: #f2edeb;
$background-colour-two: #6c9184;
$background-colour-three: #2b3b36;
$background-colour-four: #875548;

//Main Font Colours
$font-colour-light: #f2edeb;
$font-colour-dark: #252525;
$font-colour-green: #2b3b36;
$font-colour-brown: #875548;

//*=========================================
//** Effects and Animation  **
//*=========================================

//********** Scrollbar Mixin **********

@mixin styled-scrollbar(
  $size,
  $color,
  $background-colour,
  $track-shadow-colour
) {
  &::-webkit-scrollbar {
    width: $size;
  }

  &::-webkit-scrollbar-thumb {
    background-color: scale-color($color, $lightness: 20%);
    position: relative;
    bottom: 10rem;
    border-radius: 10px;

    &:hover {
      background-color: $color;
    }
  }

  &::-webkit-scrollbar-track {
    background: $background-colour;
    box-shadow: inset 0 0 3px $track-shadow-colour;
  }
}

//********** Keyframes **********

//********** Bounce **********
@keyframes brignell-bounce {
  25% {
    transform: translateY(-2rem);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(0);
  }
}

//********** Fade in **********
@keyframes simple-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//*=========================================
//** Media Queries   **
//*=========================================

//********** Max Width **********

@mixin breakpoint($point) {
  @if unitless($point) {
    $point: 1px * $point;
  }
  @media (max-width: $point) {
    @content;
  }
}
