// *=======================================================================================
// ** About Me  **
// *=======================================================================================

//********** Imports **********

@use 'bits' as *; //Contains variables, media queries mixins etc.

//*=========================================
//** Header **
//*=========================================

.about-me-header {
  background-color: $background-colour-light;
  padding-top: $paragraph-spacing-medium;
}

.about-me-header-content-wrapper {
  @include flex(row);
  padding: $section-spacing-small $section-spacing-small 0;
  justify-content: space-around;
  align-items: center;

  @include breakpoint(1750) {
    padding: $section-spacing-small $section-spacing-smaller 0;
  }
}

.about-me-header-text-wrapper {
  flex: 0 1 auto;
  width: 50%;
  background-image: url('/images/gouache-wash-600.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 40%;
}

.about-me-header-text {
  font-size: $font-size-large;
  color: $font-colour-brown;
  font-weight: 500;
}

.about-me-header-image-wrapper {
  flex: 0 1 auto;
  width: 500px;
}

//*=========================================
//** Main Page Content **
//*=========================================

.about-me-section {
  background-color: $background-colour-light;
  color: $font-colour-brown;
  font-size: $font-size-medium;
  padding: $section-spacing-small $section-spacing-extra-large 0;

  @include breakpoint(1750) {
    padding: $section-spacing-small $section-spacing-large 0;
  }
}
