// *=======================================================================================
// ** Homepage  **
// *=======================================================================================

//********** Imports **********

@use 'bits' as *; //Contains variables, media queries mixins etc.

//*=========================================
//** Section One **
//*=========================================

.section-one {
  padding: $section-spacing-small;
  background-color: $background-colour-light
}


.section-one-wrapper {
  @include flex(row);
  justify-content: center;
  align-items: center;
}

.section-one-image-wrapper,
.section-one-text {
  flex: 0 1 auto;
  width: 50%;
}

.section-one-text {
  font-size: $font-size-large;
  color: $font-colour-green;
}

.section-one-image {
  width: 100%;
}


