// *=======================================================================================
// ** Styles for all pages  **
// ** Reset based on https://hankchizljaw.com/wrote/a-modern-css-reset/  **
// *=======================================================================================

//********** Imports **********

@use 'bits' as *; //Contains variables, media queries mixins etc.

// *=========================================
// ** Page & Site Wrappers **
// *=========================================

html {
  font-size: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;

  @include styled-scrollbar(1rem, $font-colour-green, $background-colour-light, $background-colour-light);
}

// * Box sizing rules
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  //TODO: Choose max size
  margin: 0 auto;
  position: relative;
  min-width: 320px;
  max-width: 1920px;
  overflow-x: hidden;
  @include main-font-stack;
}

// *=========================================
// ** Content container and block **
// *=========================================

//********** Headings**********

h1,
h2,
h3 {
  text-align: center;
  font-weight: normal;
}

.section-heading {
  font-size: $heading-size-large;
  margin: 0 auto $heading-spacing-large;
}

//********** Containers **********

section,
main {
  position: relative;
  overflow: hidden;
  z-index: 3;
  /*
  * Fixes IOS Bug where scrolling breaks z-index
  https://stackoverflow.com/questions/16033416/while-scrolling-on-an-ios-device-the-z-index-of-elements-isnt-working
  */
  -webkit-transform: translate3d(0, 0, 0);
}

//********** Paragraphs **********

p {
  font-kerning: none;
}

// *=========================================
// ** Inline **
// *=========================================

//********** Images **********

//* Make images easier to work with
img {
  max-width: 100%;
  display: block;
}

//********** Links **********

// Better to leave underlining on by default and switch it off where you don't want it

a {
  text-decoration: underline;
  color: $link-colour;
}

//*=========================================
//** Header **
//*=========================================
.main-header {
  @include flex(column);
  position: relative;
  width: 100vw;
  z-index: 4;
}

//********** Main Logo **********
.main-logo {
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
}

// *=========================================
// ** Main Nav  **
// *=========================================

.main-nav {
  @include flex(column);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('/images/from-orkney-2000.png');
  background-color: $background-colour-light;
  z-index: 4;
  transform: translateX(-100%);
  opacity: 0;
  transition: all .6s ease;
}

.main-nav-link {
  font-size: $font-size-medium;
  font-weight: 500;
  color: $font-colour-green;
  text-decoration: none;
  text-transform: uppercase;
  padding: $section-spacing-tiny;
  margin: $section-spacing-extra-small;
}

#main-nav-current {
  display: none;
  visibility: hidden;
  margin: 0;
}

.main-nav-trigger {
  //FIXME: Odd bit of spacing at the bottom
  position: fixed;
  width: fit-content;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: $background-colour-three;
  padding: $paragraph-spacing-medium;
  margin: 0;
  border: none;
  font-size: $font-size-medium;
  font-weight: 500;
  color: $font-colour-light;
}

#main-nav-closer {
  height: 150px;
  width: 150px;
  background-color: transparent;
  border: none;
  padding: $section-spacing-tiny;
  margin: $section-spacing-extra-small;
}

.sideways-text {
  display: block;
  align-items: stretch;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
  margin: 0;
  padding: 0;
  //* Writing mode doesn't work on buttons it seems. Span added for sideways text
}

//********** Responsive Styles **********



// *=========================================
// ** Body **
// *=========================================

// *=========================================
// ** Forms  **
// *=========================================

//*=========================================
//** Contact Form **
//*=========================================

input,
button,
textarea,
select {
  font: inherit;
}
.contact-section {
  padding: $section-spacing-small $section-spacing-medium;
  background-color: $background-colour-light;
  color: $font-colour-green;
}

.contact-form-heading {
  font-weight: 500;
}

label {
  font-size: $font-size-medium;
  margin-right: $font-size-small;
  font-weight: 500;
}

.input-and-label-div {
  @include flex(row);
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: $section-spacing-extra-small;

  input {
    flex: 1 1 auto;
    background-color: transparent;
    border: 0;
    padding: 0;
    border-bottom: 4px solid $font-colour-green;
    font-size: $font-size-medium;
    color: inherit;
    font-weight: 500;
  }
}

.text-area-label {
  position: absolute;
  top: -1rem;
  background-color: $background-colour-light;
  padding-right: $font-size-small;
  transition: opacity 0.2s ease-out;
}

.text-area-input {
  // Custom Scrollbar
  flex: 1 1 auto;
  font-size: $font-size-medium;
  font-weight: 500;
  color: $font-colour-green;
  @include styled-scrollbar(
    1rem,
    $background-colour-three,
    $background-colour-light,
    $background-colour-light
  );

  text-indent: 24rem;
  border: 0;
  padding: 0;
  resize: none;
  line-height: 4.4rem;
  background-attachment: local;

  // Text area underlining
  background-image: linear-gradient(
      to right,
      $background-colour-light 0,
      transparent 0
    ),
    linear-gradient(to left, $background-colour-light 0, transparent 0),
    repeating-linear-gradient(
      $background-colour-light,
      // Leave
      $background-colour-light 4rem,
      $font-colour-green 1.8rem,
      // Seems to control line thickness
      $font-colour-green 4.4rem,
      $background-colour-light 1.85rem
    );

  &.active {
    // Text area underlining
    background-image: linear-gradient(
        to right,
        $background-colour-light 0,
        transparent 0
      ),
      linear-gradient(to left, $background-colour-light 0, transparent 0),
      repeating-linear-gradient(
        $background-colour-light,
        // Leave
        $background-colour-light 4rem,
        $font-colour-light 1.8rem,
        // Seems to control line thickness
        $font-colour-light 4.4rem,
        $background-colour-light 1.85rem
      );
  }
}

.fade-out {
  opacity: 0;
}

//********** Checkbox **********

.checkbox-div {
  @include flex(row);
  margin-bottom: $section-spacing-small;
  justify-content: space-between;
  align-items: flex-start;

  input {
    position: relative;
    width: fit-content;
    font-size: 0;
    top: 0.5rem;

    @include breakpoint(400) {
      top: 0.3rem;
    }

    &:before {
      content: '';
      display: inline-block;
      width: $font-size-small;
      height: $font-size-small;
      margin-top: -3px;
      margin-left: -5px;
      border: 4px solid $background-colour-three;
      // outline: none;
      border-radius: 0.25em;
      background: $background-colour-light;
    }

    &:after {
      content: '';
      position: absolute;
      height: 0.9rem;
      width: 2.1rem;
      color: $font-colour-green;
      border-left: 4px solid;
      border-bottom: 4px solid;
      top: 6px;
      left: 0;
      transform: rotate(-25deg) scale(0.75);
      opacity: 0;
      transition: all 0.3s cubic-bezier(0.18, 1.96, 1, 1.96);
    }

    &:checked:after {
      opacity: 1;
      transform: rotate(-45deg) scale(1);
    }
  }

  label {
    text-transform: none;
    display: inline-block;
    font-size: $font-size-tiny;
    font-weight: 400;
    width: 90%;
  }
}

.form-consent-link {
  color: inherit;
}

.submit {
  font-size: $font-size-medium;
  background-color: $background-colour-light;
  text-transform: uppercase;
  border: 5px solid $font-colour-green;
  padding: 1rem;
  margin: 0 auto;
  display: block;
  // appearance: none;
  font-weight: 500;
}

//********** Honeypot **********

.form-identification-number {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

// *=========================================
// ** Footer  **
// *=========================================

.main-footer {
  background-color: $background-colour-four;
  margin: 0;
  font-size: $font-size-really-tiny;
  color: $background-colour-light;
  padding: $paragraph-spacing-medium;
  text-align: center;

  a {
    color: inherit;
  }

  p {
    margin: 0 auto $paragraph-spacing-medium;

    &:last-of-type {
      margin: 0;
    }
  }
}

.footer-legals {
  margin: $section-spacing-small auto;
}

//*=========================================
//** Utility & Accessibility  **
//*=========================================

//* Remove all animations and transitions for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

//*Skip to content link
.show-on-focus {
  position: absolute;
  // color: $dark-font-colour;
  // background-color: $light-background-colour;
  padding: 10px;
  // font-size: $font-size;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  margin: 0.5rem 0 0 0.5rem;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  text-decoration: none;

  &:focus {
    z-index: 20;
    width: auto;
    height: auto;
    clip: auto;
  }
}

//* Hides outline unless tab key is pressed

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

.user-is-tabbing {
  a:focus,
  button:focus,
  input:focus,
  textarea:focus {
    outline: 3px dashed #ff5e00;
  }
}

//********** Visually Hidden  **********

.visually-hidden {
  position: absolute;
  top: 0;
  left: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

//*=========================================
//** Browser Specific Styles **
//*=========================================

//*=========================================
//** IOS **
//*=========================================

@media not all and (min-resolution: 0.001dpcm) {
  .sideways-text {
    width: 60px;
  }
} // IOS Styles End
