<style>
  .main-header {
  background:url(<perch:content id="headerBackgroundImage" type="image" label="Background image">);
  }
  // TODO Choose media queries
  @media only screen and (max-width: 1920px) {
  .main-header {
  background:url(<perch:content id="headerBackgroundImage" type="image" label="Background image" width="2000">);
  }
  }
  @media only screen and (max-width: 1000px) {
  .main-header {
  background:url(<perch:content id="headerBackgroundImage" type="image" label="Background image" width="1000">);
  }
  }
  @media only screen and (max-width: 600px) {
  .main-header {
  background:url(<perch:content id="headerBackgroundImage" type="image" label="Background image" width="600">);
  }
  }
  </style>
