<perch:before>
	<h2 class="visually-hidden">
			<perch:gallery id="albumTitle">
	</h2>
	<div class="gallery-carousel">
</perch:before>
	<div class="carousel-cell">
		<img loading="lazy" class="gallery-album-image" src="<perch:gallery id="image2000" type="image">" width="2000" alt="<perch:gallery id="image-alt">"
			sizes="100vw"
			srcset="<perch:gallery type="image" id="image2000"> 2000w,
							<perch:gallery type="image" id="image1500"> 1500w,
							<perch:gallery type="image" id="image1000"> 1000w,
							<perch:gallery type="image" id="image700"> 700w,
							<perch:gallery type="image" id="image400"> 400w">
	</div>
	<perch:after>
	</div>
	<div class="scroll-svg-arrow-wrapper">
		<perch:template path="content/svg/scroll_arrow.html" rescope="parent">
	</div>
	</perch:after>
