<perch:before>
	<h2 class="section-heading">
			<perch:gallery id="albumTitle">
	</h2>
	<div class="main-carousel">
</perch:before>
	<div class="carousel-cell">
		<img loading="lazy" class="gallery-album-image" src="<perch:gallery id="imageOne" type="image">" alt="<perch:gallery id="image-alt">"
			sizes="100vw"
			srcset="<perch:gallery type="image" id="imageOne"> 2000w,
							<perch:gallery type="image" id="imageTwo"> 1500w,
							<perch:gallery type="image" id="imageThree"> 1000w,
							<perch:gallery type="image" id="imageFour"> 600w">
	</div>
	<perch:after>
	</div>
	</perch:after>
