<!-- Responsive options -->
<perch:gallery id="image" type="image" key="imageOne" width="2000">
<perch:gallery id="image" type="image" key="imageTwo" width="1500">
<perch:gallery id="image" type="image" key="imageThree" width="1000">
<perch:gallery id="image" type="image" key="imageFour" width="600">

<!-- Index Images - Aspect ratio 2 : 3 vertical -->
<perch:gallery id="image" type="image" key="indexLarge" width="800" height="1200" crop>
<perch:gallery id="image" type="image" key="indexMedium" width="600" height="900" crop>
<perch:gallery id="image" type="image" key="indexSmall" width="400" height="600" crop>

<!-- Admin Thumbnail -->
<perch:gallery id="image" type="image" key="thumb" width="30" height="30" crop="true">
<!-- Image alt -->
<perch:gallery id="image-alt" type="text" size="m" label="Short Image Description">
<
