<img class="homepage-header-background-image" itemprop="image" loading="lazy" src="<perch:content id="homepageHeaderBg" type="image" width="2000" label="Homepage Header Background">" alt="<perch:content id="altOne" type="text" label="Image Description">"
sizes="100vw"
srcset="<perch:content type="image" id="homepageHeaderBg" width="2000"> 2000w,
<perch:content type="image" id="homepageHeaderBg" width="1500"> 1500w,
<perch:content type="image" id="homepageHeaderBg" width="1000"> 1000w,
<perch:content type="image" id="homepageHeaderBg" width="800"> 800w,
<perch:content type="image" id="homepageHeaderBg" width="600"> 600w">
