<section class="homepage-gallery">
  <div class="gallery-two-image-wrapper">
    <div class="homepage-gallery-image-wrapper half-width-gallery-image-wrapper">
      <img class="homepage-gallery-image half-width-gallery-image" itemprop="image" loading="lazy" src="<perch:content id="homepageGalleryImgOne" type="image" width="1500" label="Homepage Gallery Image One">" alt="<perch:content id="altOne" type="text" label="Image Description">"
      sizes="(max-width: 800px) 100vw, 50vw"
      srcset="<perch:content type="image" id="homepageGalleryImgOne" width="1500"> 1500w,
      <perch:content type="image" id="homepageGalleryImgOne" width="1200"> 1200w,
      <perch:content type="image" id="homepageGalleryImgOne" width="800"> 800w,
      <perch:content type="image" id="homepageGalleryImgOne" width="600"> 600w,
      <perch:content type="image" id="homepageGalleryImgOne" width="400"> 400w">
    </div>
    <div class="homepage-gallery-image-wrapper half-width-gallery-image-wrapper">
      <img class="homepage-gallery-image half-width-gallery-image" itemprop="image" loading="lazy" src="<perch:content id="homepageGalleryImgTwo" type="image" width="1500" label="Homepage Gallery Image Two">" alt="<perch:content id="altTwo" type="text" label="Image Description">"
      sizes="(max-width: 800px) 100vw, 50vw"
      srcset="<perch:content type="image" id="homepageGalleryImgTwo" width="1500"> 1500w,
      <perch:content type="image" id="homepageGalleryImgTwo" width="1200"> 1200w,
      <perch:content type="image" id="homepageGalleryImgTwo" width="800"> 800w,
      <perch:content type="image" id="homepageGalleryImgTwo" width="600"> 600w,
      <perch:content type="image" id="homepageGalleryImgTwo" width="400"> 400w">
    </div>
  </div>
  <div class="gallery-two-image-wrapper">
    <div class="homepage-gallery-image-wrapper half-width-gallery-image-wrapper">
      <img class="homepage-gallery-image half-width-gallery-image" itemprop="image" loading="lazy" src="<perch:content id="homepageGalleryImgThree" type="image" width="1500" label="Homepage Gallery Image Three">" alt="<perch:content id="altThree" type="text" label="Image Description">"
      sizes="(max-width: 800px) 100vw, 50vw"
      srcset="<perch:content type="image" id="homepageGalleryImgThree" width="1500"> 1500w,
      <perch:content type="image" id="homepageGalleryImgThree" width="1200"> 1200w,
      <perch:content type="image" id="homepageGalleryImgThree" width="800"> 800w,
      <perch:content type="image" id="homepageGalleryImgThree" width="600"> 600w,
      <perch:content type="image" id="homepageGalleryImgThree" width="400"> 400w">
    </div>
    <div class="homepage-gallery-image-wrapper half-width-gallery-image-wrapper">
      <img class="homepage-gallery-image half-width-gallery-image" itemprop="image" loading="lazy" src="<perch:content id="homepageGalleryImgFour" type="image" width="1500" label="Homepage Gallery Image Four">" alt="<perch:content id="altFour" type="text" label="Image Description">"
      sizes="(max-width: 800px) 100vw, 50vw"
      srcset="<perch:content type="image" id="homepageGalleryImgFour" width="1500"> 1500w,
      <perch:content type="image" id="homepageGalleryImgFour" width="1200"> 1200w,
      <perch:content type="image" id="homepageGalleryImgFour" width="800"> 800w,
      <perch:content type="image" id="homepageGalleryImgFour" width="600"> 600w,
      <perch:content type="image" id="homepageGalleryImgFour" width="400"> 400w">
    </div>
  </div>
  <div class="full-width-gallery-image-wrapper homepage-gallery-image-wrapper">
    <img class="homepage-gallery-image full-width-gallery-image" itemprop="image" loading="lazy" src="<perch:content id="homepageGalleryImgFive" type="image" width="2000" label="Homepage Gallery Image Five">" alt="<perch:content id="altOne" type="text" label="Image Description">"
    sizes="(max-width: 1000px) 100vw, 100vw"
    srcset="<perch:content type="image" id="homepageGalleryImgFive" width="2000"> 2000w,
    <perch:content type="image" id="homepageGalleryImgFive" width="1500"> 1500w,
    <perch:content type="image" id="homepageGalleryImgFive" width="1000"> 1000w,
    <perch:content type="image" id="homepageGalleryImgFive" width="800"> 800w,
    <perch:content type="image" id="homepageGalleryImgFive" width="600"> 600w">
  </div>
</section>