<section class="homepage-gallery">
  <div class="two-image-wrapper">
    <img class="homepage-gallery-image half-width-gallery-image" itemprop="image" loading="lazy" src="<perch:content id="homepageGalleryImgOne" type="image" width="1500" label="Homepage Gallery Image One">" alt="<perch:content id="altOne" type="text" label="Image Description">"
    sizes="(max-width: 800px) 100vw, 50vw"
    srcset="<perch:content type="image" id="homepageGalleryImgOne" width="1500"> 1500w,
    <perch:content type="image" id="homepageGalleryImgOne" width="1200"> 1200w,
    <perch:content type="image" id="homepageGalleryImgOne" width="800"> 800w,
    <perch:content type="image" id="homepageGalleryImgOne" width="600"> 600w,
    <perch:content type="image" id="homepageGalleryImgOne" width="400"> 400w">
    <img class="homepage-gallery-image half-width-gallery-image" itemprop="image" loading="lazy" src="<perch:content id="homepageGalleryImgTwo" type="image" width="1500" label="Homepage Gallery Image Two">" alt="<perch:content id="altTwo" type="text" label="Image Description">"
    sizes="(max-width: 800px) 100vw, 50vw"
    srcset="<perch:content type="image" id="homepageGalleryImgTwo" width="1500"> 1500w,
    <perch:content type="image" id="homepageGalleryImgTwo" width="1200"> 1200w,
    <perch:content type="image" id="homepageGalleryImgTwo" width="800"> 800w,
    <perch:content type="image" id="homepageGalleryImgTwo" width="600"> 600w,
    <perch:content type="image" id="homepageGalleryImgTwo" width="400"> 400w">
  </div>
</section>